body {
    background:gray;
    margin: 0px;
    padding: 0px 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.page-header{
    background:#000000;
}

ul .nav_bar{

}

.nav ul li {

    display:inline-block;
}

.nav ul li a {
    padding:10px;
    font-size: 18px;

}

.nav ul {
    margin-top:25px;
}
.container {
    background: #FFD9FF;
    margin-top:-20px;
    padding:40px;
    width:100%;
}

footer{
    background: #333333;
    text-align: center;
    color:white;
    padding:50px;
}

.place_holder {
    border:1px solid black;
    width:200px;
    height:200px;
    background:gray;
    color:white;
    text-align: center;
}

.register_side a {
    display: block;
    margin:0px auto;
    text-align: center;
    font-size: 20px;
    color:white;
    background: red;
    padding:30px;
    border-radius: 15px;

}

.register_side h3 {
    margin-top:-20px;
}
.features {
    margin-top: 60px;
}

hr.style-four {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0,0,0,0.5);
    margin-top: 60px;
}
.register_side h4 {
    margin-top: 20px;
    float:right;
    margin-right:15px;

}

.reg_modal {
    padding:30px;
    background: #BAC9CF;

}